body{
    background-color: rgb(185, 185, 185);
    text-align: center;
}
.pop_ups{
    width:  700px;
    height: 700px;
}

.principal{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width:  auto;
    height: auto;
    border:         3px solid rgb(0, 0, 0);
    margin:         0px 10px;
    border-radius:  20px;
    background-color: white;
}
.quadrado{
    width: 10px;
    height: 10px;
    background-color: aqua;
    display: flex;
}
.centraliza{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}